



@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');




body {
   font-family:'Merriweather';

}




.ff{
    text-align: center;
    color: rgb(240, 139, 156);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsl(207, 79%, 77%);
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: #fffbfb;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: hsl(202, 83%, 67%);
}


 
 .um {
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    pad: 16px;
 }

 

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}


.Projeto {
    color: #ee8a9a;
}

   

.footer {
    background-color: rgba(221, 221, 248, 0.911);
    color: white;
    text-align: center;
    padding: 10px;
   
    width: 100%;
    bottom: 0;
    display: ab;
}
.img {
    border-radius:20% ;
    border: 5px solid rgb(162, 214, 235);
}
.j {
    line-height: 1.5;
}




 

        